body{
    background-color: rgb(72, 138, 72);
}

.main-header{
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
}

.main-header h1{
    margin-top:0px;
    margin-bottom: 0.5em;
}

.school-program__table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
}

.school-program__table th, td{
    border: 1px solid black;
    padding: 10px;
}

.school-program__table td .media img{
    width: 60px;
    height: 60px;
}

.school-program__table thead{
    background-color: rgb(3, 153, 3);
}

.school-program__table tbody tr:nth-child(odd){
    background-color:rgb(85, 175, 85);
}

.school-program__table tbody tr:nth-child(even){
    background-color: rgb(127, 241, 127);
}

.school-program__table tbody tr:hover{
    background-color: goldenrod;
}