.site__message{
    margin-bottom: 2em;
    width: 40%;
}

.site__message-context{
    position: relative;
}

.site__message .site__message-media img{
    width: 5em;
    height: 5em;
    float: left;
    margin-right: 1em;
    padding-bottom: 20px;
}

.site__message-context .site__message-autor{
    color: blue;
}

.site__message-time{
    position: absolute;
    left: 20em;
    color: black;
    display: inline-flex;
    padding-left: 1em;
}

.site__message-time img{
    width: 10px;
}

.site__message-time .bigger-image{
    width: 20px;
}