.site{
    display: inline-flex;
}

.site .site__rectangle{
    background-color: purple;
    color: white;
    border: 1px solid white;

    margin-left: 2em;
    margin-right: 2em;

    width: 200px;
    height: 200px;

    box-shadow: 5px 5px 5px black;
}

.site .site__half-rectangle{
    background-color: grey;
    
    border: 1px solid white;

    margin-left: 2em;
    margin-right: 2em;

    width: 200px;
    height: 200px;

    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;

    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;

    box-shadow: -5px -5px 8px grey;
}

.site__circle{
    width: 200px;
    height: 200px;

    background-color: black;

    border: 1px solid white;

    box-shadow: 7px 7px 5px black;

    border-radius: 50%;
}