.site__section--inline{
    display: flex;
    margin-left: 6em;
}

.site__section-media{
    background-color: grey;

    width: 500px;
    height: 250px;
}

.site__section-element-heading--red{
    color: red;
}

.site__section-time{
    color: grey;
}

.site__section-element p{
    width: 70%;
}