section {
    text-align: center;
}

.first h1{
    color: black;
    background-color: purple;
    text-shadow: 1px 1px #ff0000;
}

.second h1{
    color: white;
    background-color: black;
    text-shadow: 1px 1px purple;
}