.container{
    border: 1px solid black;

    width: 500px;
}

.container--visible{
    background-color: plum;

    padding: 20px;

    position: relative;
}

#container-button{
    background-color: blue;
    color: white;
    
    padding: 5px;

    width: 50px;

    border: none;

    position: absolute;
    right: 10%;
    bottom: 25%;
}

#container--not-visible{
    display: none;

    padding: 20px;
}