img{
    width: 500px;
    height: 250px;
}

#green-border img{
    border: 3px solid green;
}

#green-border p{
    background-color: lightblue;
}

#orange-border img{
    border: 3px solid orange;
}

#orange-border p{
    background-color: red;
}

#blue-border img{
    border: 3px solid blue;
}

#blue-border p{
    background-color: orange;
}